<div class="container">  
  
    <mat-card>  
      <mat-toolbar color="accent">  
        <div align="center" style="color:white;text-align: right;">  
          CRUD for Tasks 
        </div>    
      </mat-toolbar>  
    <br><br>  
      <mat-card-content>  
        <form [formGroup]="taskForm"(ngSubmit)="onFormSubmit()">  
                <table align="center">  
                  <tr>  
                    <td class="tbl1">  
                      <mat-form-field class="demo-full-width">  
                        <input formControlName="name" matTooltip="Enter Task Name" matInput placeholder="Task Name">  
                      </mat-form-field>  
                      <mat-error>  
                        <span *ngIf="!taskForm.get('name').value && taskForm.get('name').touched"></span>  
                      </mat-error>  
                    </td>  
                    <td class="tbl1">  
                        <mat-form-field class="demo-full-width">  
                          <input formControlName="description" matTooltip="Enter Task description" matInput placeholder="Task description">  
                        </mat-form-field>  
                        <mat-error>  
                          <span *ngIf="!taskForm.get('description').value && taskForm.get('description').touched"></span>  
                        </mat-error>  
                      </td>  
                      <td class="tbl1">  
                        <mat-form-field class="demo-full-width">  
                          <input formControlName="projectId" matTooltip="Enter projectId" matInput placeholder="projectId">  
                        </mat-form-field>  
                        <mat-error>  
                          <span *ngIf="!taskForm.get('projectId').value && taskForm.get('projectId').touched"></span>  
                        </mat-error>  
                      </td>
                  </tr>
                  <tr>
                      <td class="tbl1">  
                        <mat-form-field class="demo-full-width">  
                          <input formControlName="performerId" matTooltip="Enter performerId" matInput placeholder="performerId">  
                        </mat-form-field>  
                        <mat-error>  
                          <span *ngIf="!taskForm.get('performerId').value && taskForm.get('performerId').touched"></span>  
                        </mat-error>  
                      </td>
                      <td class="tbl1">  
                        <mat-form-field class="demo-full-width">  
                          <input formControlName="state" matTooltip="Enter state" matInput placeholder="state">  
                        </mat-form-field>  
                        <mat-error>  
                          <span *ngIf="!taskForm.get('state').value && taskForm.get('state').touched"></span>  
                        </mat-error>  
                      </td>
                    <td class="tbl1">  
                      <mat-form-field class="demo-full-width">  
                        <input matInput [matDatepicker]="picker"matTooltip="Enter Finished At" formControlName="finishedAt" placeholder="Choose Finished At">  
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>  
                        <mat-datepicker #picker></mat-datepicker>  
                      </mat-form-field>  
                      <mat-error>  
                        <span *ngIf="!taskForm.get('finishedAt').value && taskForm.get('finishedAt').touched"></span>  
                      </mat-error>  
                    </td>  
                  </tr> 
                  <tr>  
                    <td class="content-center">
                        <button type="submit" mat-raised-button color="accent" matTooltip="Click Submit Button" [disabled]="!taskForm.valid">Submit</button>      
                    </td>  
                    <td  class="content-center">  
                      <button type="reset" mat-raised-button color="accent" matTooltip="Click Reset Button" (click)="resetForm()">Reset</button>  
                    </td>  
                    <td>  
                      <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" align="left">  
                        {{massage}}  
                      </p>  
                    </td>  
                  </tr>   
                </table>  
    <br><br>  
          <table class="table" align="center" >  
              <tr ngclass="btn-primary">  
                <th class="tbl2">Name</th>  
                <th class="tbl2">Description</th>  
                <th class="tbl2">Project Id</th> 
                <th class="tbl2">Performer Id</th> 
                <th class="tbl2">State</th>  
                <th class="tbl2">Finished At</th>  
                <th class="tbl2">Edit</th>  
                <th class="tbl2">Delete</th>  
              </tr>  
              <tr *ngFor="let task of allProjectTasks | async" [ngClass]="{'highlight': task.finishedAt != null && isTaskComplete(task.finishedAt, today) }">  
                <td class="tbl2">{{task.name}}</td>  
                <td class="tbl2">{{task.description}}</td> 
                <td class="tbl2">{{task.projectId}}</td> 
                <td class="tbl2">{{task.performerId}}</td>  
                <td class="tbl2">{{task.state}}</td>   
                <td class="tbl2">{{task.finishedAt | date }}</td> 
                <td class="tbl2">  
                  <button type="button" class="btn btn-info" mat-raised-button color="primary" matTooltip="Click Edit Button" (click)="loadProjectTasksToEdit(task.id!)">Edit</button>  
                </td>  
                <td class="tbl2">  
                  <button type="button" class="btn btn-danger" mat-raised-button color="warn" matTooltip="Click Delete Button" (click)="deleteProjectTasks(task.id!)">Delete</button>  
                </td>  
              </tr>  
            </table>  
        </form>  
      </mat-card-content>  
    </mat-card>  
    </div>  