<div class="container">  
  
    <mat-card>  
      <mat-toolbar color="accent">  
        <div align="center" style="color:white;text-align: right;">  
          CRUD for Users 
        </div>    
      </mat-toolbar>  
    <br><br>  
      <mat-card-content>  
        <form [formGroup]="userForm"(ngSubmit)="onFormSubmit()">  
                <table align="center">  
                  <tr>  
                    <td class="tbl1">  
                      <mat-form-field class="demo-full-width">  
                        <input formControlName="firstName" matTooltip="Enter User Name" matInput placeholder="User Name">  
                      </mat-form-field>  
                      <mat-error>  
                        <span *ngIf="!userForm.get('firstName').value && userForm.get('firstName').touched"></span>  
                      </mat-error>  
                    </td>  
                    <td class="tbl1">  
                        <mat-form-field class="demo-full-width">  
                          <input formControlName="lastName" matTooltip="Enter User Last Name" matInput placeholder="User Last Name">  
                        </mat-form-field>  
                        <mat-error>  
                          <span *ngIf="!userForm.get('lastName').value && userForm.get('lastName').touched"></span>  
                        </mat-error>  
                      </td>  
                      <td class="tbl1">  
                        <mat-form-field class="demo-full-width">  
                          <input formControlName="email" matTooltip="Enter email" matInput placeholder="email">  
                        </mat-form-field>  
                        <mat-error>  
                          <span *ngIf="!userForm.get('email').value && userForm.get('email').touched"></span>  
                        </mat-error>  
                      </td>
                  </tr>
                  <tr>
                      <td class="tbl1">  
                        <mat-form-field class="demo-full-width">  
                          <input formControlName="teamId" matTooltip="Enter teamId" matInput placeholder="teamId">  
                        </mat-form-field>  
                        <mat-error>  
                          <span *ngIf="!userForm.get('teamId').value && userForm.get('teamId').touched"></span>  
                        </mat-error>  
                      </td>
                    <td class="tbl1">  
                      <mat-form-field class="demo-full-width">  
                        <input matInput [matDatepicker]="picker"matTooltip="Enter Deadline" formControlName="birthDay" placeholder="Choose BirthDay">  
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>  
                        <mat-datepicker #picker></mat-datepicker>  
                      </mat-form-field>  
                      <mat-error>  
                        <span *ngIf="!userForm.get('birthDay').value && userForm.get('birthDay').touched"></span>  
                      </mat-error>  
                    </td>  
                  </tr> 
                  <tr>  
                    <td class="content-center">
                        <button type="submit" mat-raised-button color="accent" matTooltip="Click Submit Button" [disabled]="!userForm.valid">Submit</button>      
                    </td>  
                    <td  class="content-center">  
                      <button type="reset" mat-raised-button color="accent" matTooltip="Click Reset Button" (click)="resetForm()">Reset</button>  
                    </td>  
                    <td>  
                      <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" align="left">  
                        {{massage}}  
                      </p>  
                    </td>  
                  </tr>   
                </table>  
    <br><br>  
          <table class="table" align="center" >  
              <tr ngclass="btn-primary">  
                <th class="tbl2">User Name</th>  
                <th class="tbl2">User Last Name</th>  
                <th class="tbl2">Email</th> 
                <th class="tbl2">Team Id</th> 
                <th class="tbl2">BirthDay</th>  
                <th class="tbl2">Edit</th>  
                <th class="tbl2">Delete</th>  
              </tr>  
              <tr *ngFor="let user of allUsers | async">  
                <td class="tbl2">{{user.firstName}}</td>  
                <td class="tbl2">{{user.lastName}}</td> 
                <td class="tbl2">{{user.email}}</td> 
                <td class="tbl2">{{user.teamId}}</td>  
                <td class="tbl2">{{user.birthDay | date }}</td>   
                <td class="tbl2">  
                  <button type="button" class="btn btn-info" mat-raised-button color="primary" matTooltip="Click Edit Button" (click)="loadUserToEdit(user.id!)">Edit</button>  
                </td>  
                <td class="tbl2">  
                  <button type="button" class="btn btn-danger" mat-raised-button color="warn" matTooltip="Click Delete Button" (click)="deleteUser(user.id!)">Delete</button>  
                </td>  
              </tr>  
            </table>  
        </form>  
      </mat-card-content>  
    </mat-card>  
    </div>  