<div class="container">  
  
    <mat-card>  
      <mat-toolbar color="accent">  
        <div align="center" style="color:white;text-align: right;">  
          CRUD for Teams 
        </div>    
      </mat-toolbar>  
    <br><br>  
      <mat-card-content>  
        <form [formGroup]="teamForm"(ngSubmit)="onFormSubmit()">  
                <table align="center">  
                  <tr>  
                    <td class="tbl1">  
                      <mat-form-field class="demo-full-width">  
                        <input formControlName="name" matTooltip="Enter Team Name" matInput placeholder="Team Name">  
                      </mat-form-field>  
                      <mat-error>  
                        <span *ngIf="!teamForm.get('name').value && teamForm.get('name').touched"></span>  
                      </mat-error>  
                    </td>  
                  <tr>  
                    <td class="content-center">
                        <button type="submit" mat-raised-button color="accent" matTooltip="Click Submit Button" [disabled]="!teamForm.valid">Submit</button>      
                    </td>  
                    <td  class="content-center">  
                      <button type="reset" mat-raised-button color="accent" matTooltip="Click Reset Button" (click)="resetForm()">Reset</button>  
                    </td> 
                  </tr>
                  <tr> 
                    <td>  
                      <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" align="left">  
                        {{massage}}  
                      </p>  
                    </td>  
                  </tr>   
                </table>  
    <br><br>  
          <table class="table" align="center" >  
              <tr ngclass="btn-primary">  
                <th class="tbl2">Team Name</th>  
                <th class="tbl2">Edit</th>  
                <th class="tbl2">Delete</th>  
              </tr>  
              <tr *ngFor="let team of allTeams | async">  
                <td class="tbl2">{{team.name}}</td>    
                <td class="tbl2">{{team.createdAt | date }}</td>   
                <td class="tbl2">  
                  <button type="button" class="btn btn-info" mat-raised-button color="primary" matTooltip="Click Edit Button" (click)="loadTeamToEdit(team.id!)">Edit</button>  
                </td>  
                <td class="tbl2">  
                  <button type="button" class="btn btn-danger" mat-raised-button color="warn" matTooltip="Click Delete Button" (click)="deleteTeam(team.id!)">Delete</button>  
                </td>  
              </tr>  
            </table>  
        </form>  
      </mat-card-content>  
    </mat-card>  
    </div>  