<div class="container">  
  
    <mat-card>  
      <mat-toolbar color="accent">  
        <div align="center" style="color:white;text-align: right;">  
          CRUD for Projects 
        </div>    
      </mat-toolbar>  
    <br><br>  
      <mat-card-content>  
        <form [formGroup]="projectForm"(ngSubmit)="onFormSubmit()">  
                <table align="center">  
                  <tr>  
                    <td class="tbl1">  
                      <mat-form-field class="demo-full-width">  
                        <input formControlName="name" matTooltip="Enter Project Name" matInput placeholder="Project Name">  
                      </mat-form-field>  
                      <mat-error>  
                        <span *ngIf="!projectForm.get('name').value && projectForm.get('name').touched"></span>  
                      </mat-error>  
                    </td>  
                    <td class="tbl1">  
                        <mat-form-field class="demo-full-width">  
                          <input formControlName="description" matTooltip="Enter Project Description" matInput placeholder="Project Description">  
                        </mat-form-field>  
                        <mat-error>  
                          <span *ngIf="!projectForm.get('description').value && projectForm.get('description').touched"></span>  
                        </mat-error>  
                      </td>  
                      <td class="tbl1">  
                        <mat-form-field class="demo-full-width">  
                          <input formControlName="authorId" matTooltip="Enter authorId" matInput placeholder="authorId">  
                        </mat-form-field>  
                        <mat-error>  
                          <span *ngIf="!projectForm.get('authorId').value && projectForm.get('authorId').touched"></span>  
                        </mat-error>  
                      </td>
                  </tr>
                  <tr>
                      <td class="tbl1">  
                        <mat-form-field class="demo-full-width">  
                          <input formControlName="teamId" matTooltip="Enter teamId" matInput placeholder="teamId">  
                        </mat-form-field>  
                        <mat-error>  
                          <span *ngIf="!projectForm.get('teamId').value && projectForm.get('teamId').touched"></span>  
                        </mat-error>  
                      </td>
                      <td class="tbl1">  
                      <mat-form-field class="demo-full-width">  
                        <input matInput [matDatepicker]="picker"matTooltip="Enter Deadline" formControlName="deadline" placeholder="Choose Deadline">  
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>  
                        <mat-datepicker #picker></mat-datepicker>  
                      </mat-form-field>  
                      <mat-error>  
                        <span *ngIf="!projectForm.get('deadline').value && projectForm.get('deadline').touched"></span>  
                      </mat-error>  
                      </td>  
                  </tr> 
                  <tr>  
                    <td></td>  
                    <td  class="content-center">  
                      <button type="submit" mat-raised-button color="accent" matTooltip="Click Submit Button" [disabled]="!projectForm.valid">Submit</button>      
                    </td>
                    <td  class="content-center">  
                      <button type="reset" mat-raised-button color="accent" matTooltip="Click Reset Button" (click)="resetForm()">Reset</button>  
                    </td>  
                  </tr>
                  <tr>
                    <td>  
                      <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" align="left">  
                        {{massage}}  
                      </p>  
                    </td>  
                  </tr>   
                </table>  
    <br><br>  
          <table align="center" class="table" >  
              <tr ngclass="btn-primary">  
                <th class="tbl2">Project Name</th>  
                <th class="tbl2">Project Description</th>  
                <th class="tbl2">Tam Id</th> 
                <th class="tbl2">Author Id</th> 
                <th class="tbl2">Deadline</th>  
                <th class="tbl2">Edit</th>  
                <th class="tbl2">Delete</th>  
              </tr>  
              <tr *ngFor="let project of allProjects | async">  
                <td class="tbl2">{{project.name}}</td>  
                <td class="tbl2">{{project.description}}</td> 
                <td class="tbl2">{{project.teamId}}</td> 
                <td class="tbl2">{{project.authorId}}</td>  
                <td class="tbl2">{{project.deadline | date }}</td>   
                <td class="tbl2">  
                  <button type="button" class="btn btn-info" mat-raised-button color="primary" matTooltip="Click Edit Button" (click)="loadProjectToEdit(project.id!)">Edit</button>  
                </td>  
                <td class="tbl2">  
                  <button type="button" class="btn btn-danger"  mat-raised-button color="warn" matTooltip="Click Delete Button" (click)="deleteProject(project.id!)">Delete</button>  
                </td>  
              </tr>  
            </table>  
        </form>  
      </mat-card-content>  
    </mat-card>  
    </div>  